body{
    padding: 70px 140px;
    background-color: #191E28;
    color: white;
}

* {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
}


.flex.box-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.flex.box-container *{
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.first-section img{
    background-color: grey;
    width: 80px;
    height: 80px;
    display: block;
    margin: 30px auto;

}

.first-section h1, .first-section p{
    text-align: center;
}

.first-section{
    margin-bottom: 50px;
}


.second-section box-container{
    background-color: grey
}

.second-section .grid.box-container{
    display: inline-grid;
    height: 20px;
    width: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 2px;
    margin: 0;
    padding: 0;
    margin-right: -50px;
}

.second-section .flex.box-container{
    display: inline-flex;
    height: 20px;
    width: 20px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 3.5px;
}



.second-section > .box-container > div{
    background-color: grey;
}
.second-section .flex.box-container > div{
    height: 25%;

}

.second-section{
    display: flex;
    justify-content:space-between;
    margin-top: 75px;
    margin-bottom: 10px;
}


.second-section > a, .fourth-section a{
    color: grey;
    font-style: italic;
    line-height: 15px;
    font-size: 20px;
}

.second-section .flex.box-container{
    display: inline-flex;
}


.third-section{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    margin: 75px 0;
    padding: 0;
    gap: 30px;

}

.third-section img {
    height: 100px;
    width: 100%;
    background-color: grey;
    display: block;
    margin:auto;
    border-radius: 15px;
}
.third-section > div{
    display: block;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.third-section *{
    color: black;
}

.third-section p{
    margin-bottom: 30px;
}

.third-section h1{
    font-size: 25px;
}


.third-section span{
    margin-right: 10px;
}


.fourth-section{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.fourth-section a{
    border-top: 2px solid none;
    padding: 12.5px;
    margin: 0;

}

#two{
    border-top: 2px solid rgb(243, 133, 133);
    color: rgb(243, 133, 133);
    font-weight: 800;
}